In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read data
price_data = pd.read_pickle('./../data/merged_price_instit_data.pkl')
df = pd.read_pickle('./../data/all_trades_at_5.pkl')

display(price_data)
display(df)

,PERMNO,date,EXCHCD,SICCD,TICKER,TRDSTAT,CUSIP,DLSTCD,DLRET,PRC,RET,SHROUT,cusip,fdate,shares,institutional_ownership_perc
11861,14945,2014-12-31,1.0,6799,AAC,A,00030710,NaN,NaN,30.92,-0.001292,21081000.0,00030710,2014-12-31,2954597.0,0.140154
11862,14945,2015-01-02,1.0,6799,AAC,A,00030710,NaN,NaN,30.21,-0.022963,21081000.0,00030710,2015-01-02,2954597.0,0.140154
11863,14945,2015-01-05,1.0,6799,AAC,A,00030710,NaN,NaN,29.73,-0.015889,21081000.0,00030710,2015-01-05,2954597.0,0.140154
11864,14945,2015-01-06,1.0,6799,AAC,A,00030710,NaN,NaN,29.38,-0.011773,21081000.0,00030710,2015-01-06,2954597.0,0.140154
11865,14945,2015-01-07,1.0,6799,AAC,A,00030710,NaN,NaN,28.64,-0.025187,21081000.0,00030710,2015-01-07,2954597.0,0.140154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14332861,15857,2021-12-27,3.0,9999.0,WVE,A,Y9530810,NaN,NaN,3.50,-0.054054,51998000.0,Y9530810,2021-12-27,30737458.0,0.591128
14332862,15857,2021-12-28,3.0,9999.0,WVE,A,Y9530810,NaN,NaN,3.30,-0.057143,51998000.0,Y9530810,2021-12-28,30737458.0,0.591128
14332863,15857,2021-12-29,3.0,9999.0,WVE,A,Y9530810,NaN,NaN,3.25,-0.015152,51998000.0,Y9530810,2021-12-29,30737458.0,0.591128
14332864,15857,2021-12-30,3.0,9999.0,WVE,A,Y9530810,NaN,NaN,3.28,0.009231,51998000.0,Y9530810,2021-12-30,30737458.0,0.591128
14332865,15857,2021-12-31,3.0,9999.0,WVE,A,Y9530810,NaN,NaN,3.14,-0.042683,60860000.0,Y9530810,2021-12-31,36711351.0,0.603210

,start_date,institutional_ownership,permno,cusip,return_30,30-end,return_90,90-end,return_180,180-end,alpha_30,alpha_90,alpha_180,institutional_ownership_bin
0,2018-11-06,0.356346,14945,00030710,-0.314190,2018-12-06 00:00:00,-0.125004,2019-02-04 00:00:00,-0.334461,2019-05-06 00:00:00,-0.271506,-0.090372,-0.357250,20-40%
1,2008-10-09,0.503137,90825,00081T10,-0.505496,2008-11-10 00:00:00,-0.083517,2009-01-07 00:00:00,-0.753846,2009-04-07 00:00:00,-0.500909,-0.098665,-0.707198,40-60%
2,2010-06-30,0.488968,90825,00081T10,0.186373,2010-07-30 00:00:00,0.170339,2010-09-28 00:00:00,0.753504,2010-12-27 00:00:00,0.149452,0.207657,0.393308,40-60%
3,2011-09-22,0.639958,90825,00081T10,0.247400,2011-10-24 00:00:00,1.060293,2011-12-21 00:00:00,1.665281,2012-03-20 00:00:00,0.065515,0.698984,1.043633,60-80%
4,2020-03-16,0.754334,90825,00081T10,0.128450,2020-04-15 00:00:00,0.410834,2020-06-15 00:00:00,0.315651,2020-09-14 00:00:00,0.095548,-0.001233,-0.098414,60-80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,2016-01-20,0.422057,81784,Y8564W10,0.552982,2016-02-19 00:00:00,1.255718,2016-04-19 00:00:00,0.484440,2016-07-18 00:00:00,0.501548,0.876793,0.174381,40-60%
8101,2018-11-19,0.148450,81784,Y8564W10,-0.164529,2018-12-19 00:00:00,-0.170969,2019-02-19 00:00:00,-0.075479,2019-05-20 00:00:00,-0.042312,-0.205017,-0.102519,0-20%
8102,2019-11-13,0.128710,81784,Y8564W10,0.050917,2019-12-13 00:00:00,-0.307534,2020-02-11 00:00:00,-0.327903,2020-05-11 00:00:00,0.012325,-0.361838,-0.145155,0-20%
8103,2015-12-17,0.466086,91656,Y8565J10,-0.156914,2016-01-19 00:00:00,0.583640,2016-03-16 00:00:00,0.213168,2016-06-14 00:00:00,-0.045029,0.651578,0.218153,40-60%
8104,2016-12-14,0.347150,91656,Y8565J10,0.229980,2017-01-13 00:00:00,0.035638,2017-03-14 00:00:00,-0.441422,2017-06-12 00:00:00,0.213451,-0.009629,-0.489288,20-40%

In [6]:
siccds = price_data.groupby('PERMNO').first()['SICCD']

df = df.merge(siccds, left_on="permno", right_on=siccds.index)

# Export data
df.to_pickle('./../data/all_trades_at_5_with_siccd.pkl')